<div class="table-header">
  <h1>Users</h1>
  <button [routerLink]="['new']" class="btn-submit"><i class="fa-solid fa-plus"></i> New User</button>
</div>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let user of usersInfoService.usersInfo.users">
    <td>{{user.name}}</td>
    <td>{{user.role}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phone}}</td>
    <td>
      <div class="actions">
        <button [routerLink]="[user.id]" class="details-button" title="Details"><i class="fa-solid fa-circle-info"></i></button>
        <button [routerLink]="[user.id,'edit']" class="edit-button" title="Edit"><i class="fa-solid fa-pen-to-square"></i></button>
        <button (click)="OnDelete(user.id)" class="delete-button" title="Delete"><i class="fa-solid fa-trash"></i></button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<app-pagination
  [currentPage]="usersInfoService.usersInfo.pageNumber"
  [totalPages]="usersInfoService.usersInfo.totalPages"
  [totalItems]="usersInfoService.usersInfo.totalCount"
  [pageSize]="usersInfoService.usersInfo.pageSize"
  (pageChanged)="onPageChanged($event)">
  ></app-pagination>
