<div class="container-header">
    <span><i class="fa-solid fa-pen-to-square"></i> Update Order</span>
    <button class="btn redirect-back"><i class="fa-solid fa-xmark"></i></button>
  </div>

  <div class="content">
    <div class="content-section">
      <h2>Client:</h2>
      <div class="row">
        <div class="column">
          <label for="email">Email:</label>
          <input type="email" value="john.doe@example.com" id="email" disabled>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="name">Name:</label>
          <input type="text" value="John Doe" id="name" disabled>
        </div>
      </div>
      <div class="row">
        <div class="column"></div>
        <div class="column">
          <button class="btn-submit" id="btn-add-client" (click)="openAddClientDialog()" >Change Client</button>
        </div>
      </div>



      <h2>Delivery Details:</h2>

      <form>
        <div class="row">
          <div class="column">
            <label for="name">Name:</label>
            <input type="text" value="John Doe" id="name" required>
          </div>
          <div class="column">
            <label for="phone">Phone:</label>
            <input type="tel" value="+1 234 567 890" id="phone" required>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <label for="city">City:</label>
            <input type="text" value="San Francisco" id="city" required>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <label for="address">Street Address:</label>
            <input type="text" value="123 Main St, Springfield" id="address" required>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <label for="unit">Unit:</label>
            <input type="text" value="20" id="unit" required>
          </div>
          <div class="column">
            <label for="postalCode">Postal Code:</label>
            <input type="text" value="02-543" id="postalCode" required>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <button class="btn-go-back"><i class="fa-solid fa-arrow-left"></i> Go back</button>
          </div>
          <div class="column">
            <button class="btn-submit">Submit</button>
          </div>
        </div>




      </form>
    </div>
    <div class="content-section">
      <h2>Order Details:</h2>

      <div class="order-details">

        <div class="row">
          <div class="column">
            <label for="orderID">ID:</label>
            <input type="text" name="orderID" value="ORD123012" disabled>
          </div>
          <div class="column">
            <label for="deliveryDate">Date:</label>
            <input type="date" name="date" id="date" value="2022-01-01" required>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <label for="orderStatus">Status:</label>
            <select id="orderStatus" name="orderStatus">
              <option value="pending">Pending</option>
              <option value="processing">Processing</option>
              <option value="shipped">Shipped</option>
              <option value="delivered">Delivered</option>
              <option value="cancelled">Cancelled</option>
              <option value="returned">Returned</option>
            </select>
          </div>
          <div class="column">
            <label for="orderTotalPrice">Total Price:</label>
            <input type="text" name="orderTotalPrice" value="120 $" disabled>
          </div>
        </div>

      </div>


      <div class="row">
        <div class="column">

        </div>
        <div class="column">
          <button class="btn-submit" id="btn-add-book" (click) = 'openAddBookDialog()' ><i class="fa-solid fa-square-plus"></i> Add Book</button>
        </div>
      </div>
      <div class="books-container">
        <app-cart-list-item *ngFor="let item of books" [book]="item"></app-cart-list-item>
      </div>
    </div>
  </div>
