:host {
  width: max-content;
  margin: 2rem auto;
  border: 1px solid #b9b8b8;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(178, 34, 34, 0.537);
}
.container-header {
  padding: 20px;
  background-color: #761c1c;
  display: flex
;
  color: white;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.content {
  display: flex
;
  flex-direction: row;
  gap: 80px;
  max-width: 80vw;
  justify-content: center;
  padding: 20px;
}

.content-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content-section h2, .order-summary h2 {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
}
.btn-submit {
  width: 100%;
  align-self: flex-end;
}

form {
  display: flex
;
  flex-direction: column;
  align-items: center;
}

.btn-go-back {
  width: 100%;
  margin-top: 0;
}

.order-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom:0;

}

.books-container {
  max-width: max-content;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  position: relative;
  align-self: flex-start;
    max-height: 370px;
  margin: 0;
}


form {
  display: flex
;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
