<main class="transparent-container">
  <div class="book-details-horizontal">
    <div class="book-image">
      <img src="{{this.showcaseBookService.showcaseBook.coverUrl}}" alt="Book Cover">
    </div>
    <div class="book-info">
      <p class="book-title"><strong>{{this.showcaseBookService.showcaseBook.title}}</strong></p>
      <p class="book-author"><strong>Author: </strong>{{this.showcaseBookService.showcaseBook.author}}</p>
      <p class="book-description">
        {{this.showcaseBookService.showcaseBook.description}}
      </p>
      <div class="book-meta">
        <p><strong>Genre:</strong> {{this.showcaseBookService.showcaseBook.genre}}</p>
        <p><strong>Publish year:</strong> {{this.showcaseBookService.showcaseBook.publishingYear}}</p>
      </div>
      <div class="buttons">
        <button class="btn-buy" (click)="OnAddToCart()" >Add to cart</button>
        <button class="btn-go-back" (click)="OnGoBackToList()">Back to list</button>
        <div class="book-price">
        <p><strong>Price: </strong> {{this.showcaseBookService.showcaseBook.price}} zł</p>
        </div>
      </div>
    </div>

  </div>
</main>
