<div class="container">
  <div class="container-header">
    <span><i class="fa-solid fa-pen-to-square"></i> Update Order</span>
    <button class="btn redirect-back"><i class="fa-solid fa-xmark"></i></button>
  </div>

  <div class="content">
    <div class="content-section">
      <h2>Client:</h2>
      <div class="row">
        <div class="column">
          <label for="email">Email:</label>
          <input type="email" value="{{this.orderUpsertModel.client.email}}" id="email" disabled>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <label for="clientName">Name:</label>
          <input type="text" value="{{this.orderUpsertModel.client.name}}" id="clientName" disabled>
        </div>
      </div>

      <h2>Delivery Details:</h2>

        <div class="row">
          <div class="column">
            <label for="deliveryName">Name:</label>
            <input type="text" value="{{this.orderUpsertModel.deliveryDetails.name}}" id="deliveryName" disabled>
          </div>
          <div class="column">
            <label for="phone">Phone:</label>
            <input type="tel" value="{{this.orderUpsertModel.deliveryDetails.phone}}" id="phone" disabled>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <label for="city">City:</label>
            <input type="text" value="{{this.orderUpsertModel.deliveryDetails.city}}" id="city" disabled>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <label for="address">Street Address:</label>
            <input type="text" value="{{this.orderUpsertModel.deliveryDetails.street}}" id="address" disabled>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <label for="unit">Unit:</label>
            <input type="text" value="{{this.orderUpsertModel.deliveryDetails.unit}}" id="unit" disabled>
          </div>
          <div class="column">
            <label for="postalCode">Postal Code:</label>
            <input type="text" value="{{this.orderUpsertModel.deliveryDetails.postalCode}}" id="postalCode" disabled>
          </div>
        </div>

        <div class="row">
          <button [routerLink]="['..']" class="btn-go-back"><i class="fa-solid fa-arrow-left"></i> Go back</button>

        </div>
    </div>
    <div class="content-section">
      <h2>Order Details:</h2>

      <div class="order-details">

        <div class="row">
          <div class="column">
            <label for="orderID">ID:</label>
            <input type="text" id="orderID" name="orderID" value="{{this.orderUpsertModel.orderDetails.id}}" disabled>
          </div>
          <div class="column">
            <label for="date">Date:</label>
            <input type="date" name="date" id="date" value="{{this.orderUpsertModel.orderDetails.date}}" disabled>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <label for="orderStatus">Status:</label>
            <select id="orderStatus" [(ngModel)]="orderUpsertModel.orderDetails.status" name="orderStatus" disabled>
              <option value="Pending">Pending</option>
              <option value="Completed">Completed</option>
              <option value="Cancelled">Cancelled</option>
            </select>
          </div>
          <div class="column">
            <label for="orderTotalPrice">Total Price:</label>
            <input type="text" id="orderTotalPrice" name="orderTotalPrice" value="{{orderUpsertModel.orderDetails.totalPrice}} $" disabled>
          </div>
        </div>
      </div>
      <div class="books-container">
        <app-order-list-item *ngFor="let item of this.orderUpsertModel.orderItems"  [orderItem]="item"></app-order-list-item>
      </div>
    </div>
  </div>

</div>
