  <h1>Client Information</h1>
  <p><strong>Name:</strong> {{ this.userProfileInfo.name }}</p>
  <p><strong>Email:</strong> {{ this.userProfileInfo.email }}</p>
  <p><strong>Role:</strong> {{this.userProfileInfo.role}}</p>
  <p><strong>Phone:</strong> {{ this.userProfileInfo.phone }}</p>
  <p><strong>City:</strong> {{ this.userProfileInfo.city }}</p>
  <p><strong>Address:</strong> {{ this.userProfileInfo.street }}</p>
  <p><strong>Unit:</strong> {{ this.userProfileInfo.unit }}</p>
  <p><strong>Postal code:</strong> {{ this.userProfileInfo.postalCode }}</p>
  <button class="edit-button" (click)="OnEdit()"> Edit Information</button>
