.main-page-books-container {
  max-width: 80vw;
  padding: 0 0 0 2.5rem;
}
.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
h1{
  text-align: center;
  color: rgb(174, 57, 57);
  text-shadow: 2px 2px #cdc4c4;
}
