:host{
    width: max-content;
    margin: 2rem auto;
    border: 1px solid #b9b8b8;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(178, 34, 34, 0.537);
  }

.container-header {
  padding: 20px;
  background-color: #761c1c;
  display: flex
;
  color: white;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.content {
  display: flex
;
  flex-direction: row;
  gap: 80px;
  max-width: 80vw;
  justify-content: center;
  padding: 1.5rem;
}

.content-section {
  width: 50%;
  height: auto;
  display: flex
;
  flex-direction: column;
}

.content-section h2 {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
  margin-bottom: 1rem;
}

form {
  display: flex
;
  flex-direction: column;
  gap: 15px;
}

.row {
  display: flex
;
  gap: 10px;
  width: 100%;
}

.column {
  display: flex
;
  flex-direction: column;
  gap: 3px;
  flex: 1;
  max-width: 100%;
}
label {
  white-space: nowrap;
}

.btn-submit {
  width: 100%;
}
