<div class="container-header">
      <span><i class="fa-solid fa-square-plus"></i> Books</span>
      <button class="btn redirect-back" (click)="closeDialog()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="modal-content">
      <div class="row search-bar">
        <input id="search-input" type="text" placeholder="Search for books..." />
        <button class="btn-search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
      <div class="books-container">
        <app-cart-list-item *ngFor="let item of books" [book]="item"></app-cart-list-item>
      </div>
      <app-pagination></app-pagination>
      <div class="row modal">
        <div class="column">
          <button class="btn-modal-cancel" (click)="closeDialog()">Cancel</button>
        </div>
        <div class="column">
          <button class="btn-submit">Submit</button>
        </div>
      </div>
    </div>
