<div class="nav-section">
  <div class="banner"></div>
  <nav>
    <a  [routerLink]="['/showcase']"><i class="fa-solid fa-book-open"></i></a>
    <div class="navigation-title">
      <h2>Bookland</h2>
    </div>
    <div class="user-auth">
      <div class="user-auth cart">
      <a [routerLink] = "['/cart']"><i class="fa fa-shopping-cart left-item"></i> ({{ cartItemCount }})</a>
      </div>
      <div class="user-auth sign-in">
      <a [routerLink]="['/login']">Sign in <i class="fa-regular fa-user"></i></a>
      </div>
    </div>
  </nav>
</div>

