.error-message {
  background-color: darkred;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  font-weight: bold;
  width: 50%;
  justify-self: center;
  text-align: center;
}
