 <div class="book-details-horizontal">
    <div class="book-image">
      <img src="{{bookDetails.coverUrl}}" alt="Book Cover">
    </div>
    <div class="book-info">
      <p class="book-title"><strong>Title: </strong>{{ bookDetails.title }}</p>
      <div class="row">
        <div class="column"><p class="book-author"><strong>Author: </strong>{{bookDetails.author}}</p></div>
        <div class="column"><p class="book-price"><strong>Price: </strong>{{bookDetails.price}} zł</p></div>
      </div>
      <p class="book-description">
        <strong>Short description: </strong>{{bookDetails.description}}</p>
      <div class="row">
        <div class="column"><div class="book-meta">
          <p class="book-genre"><strong>Genre:</strong> {{bookDetails.genre}}</p>
          <p class="book-publish-year"><strong>Publish year:</strong> {{bookDetails.publishingYear}}</p>
        </div></div>
        <div  class="column" style="justify-content: center;">
          <button [routerLink]='[".."]' class="btn-go-back">Go back</button>
        </div>
      </div>
    </div>
  </div>
  <div class="order-list-section">
      <app-user-profile-order-history [orderList] = 'this.bookDetails.orders' ></app-user-profile-order-history>
  </div>

