:host{
  display: flex
;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 5px 10px 10px;
}
.clients-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 57vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  position: relative;
}
