/* You can add global styles to this file, and also import other style files */
@import "nouislider/dist/nouislider.css";
body{
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8faed;
  color: #333;
  align-items: center;
  height: 100vh;
}

input[type= "text"],
input[type= "email"],
input[type= "password"],
input[type= "file"],
input[type= "tel"],
input[type= "date"], textarea, select{
  width: 100%;
  font-size: 1rem;
  padding: 10px;

  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 1px gray;
  transition: transform 0.2s;
}
input[type= "file"]{
  padding: 7px;
}

input:hover, textarea:hover,select:hover{
  transform: scale(1.01);
  transition: transform 0.2s;
}

.row {
  display: flex
;
  gap: 10px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex: 1;
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: 0px;
  font-weight: bold;
  color: #5a5a5a;
  font-size: 0.9rem;
  white-space: nowrap;

}

.fa-xmark {
  color: white;
  font-size: 1.2rem;
  transition: color 0.2s ease;
  cursor: pointer;
}
.fa-xmark:hover {
  color: #afafaf;

}



.btn-submit {
  height: max-content;
  color: #fff;
  border: none;
  padding: 0.8rem 3rem;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  background-color: #5cb85c;
}

.btn-submit:hover {
  background-color: #4a9b4a;
}

.btn.redirect-back {
  background-color: transparent;
  border: none;
  cursor: none;
  padding: 0;
  margin: auto 0.2rem;
}

.btn-go-back {
  height: max-content;
  width: 100%;
  color: #fff;
  border: none;
  padding: 0.8rem 3.5rem;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;

  transition: background-color 0.4s ease;
  background-color: #1500ffbd;

  align-self: center;

}

.btn-go-back:hover {
  background-color: #1000c0bd;
}

.text-error {
  margin-top: 5px;
  color: red;
  font-size: x-small;
  display: block;
}


router-outlet:empty{
  display: none;
}
