/* You can add global styles to this file, and also import other style files */
@import "nouislider/dist/nouislider.css";
body{
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8faed;
  color: #333;
  align-items: center;
  height: 100vh;
}
